# deps
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/
.open-next/

# env
.env
.env.local
.env.production
.env.*.local

# Vercel
.vercel

# drizzle
drizzle/*.sql
drizzle/*.snap

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
*.pem
